@charset "utf-8";
/* CSS Document */
.main{
	display: flex;
	justify-content: center;
}
.pic1{
	float: left;
	margin: 20px
}
.pic1 img{
	height: 400px
}

.pic2{
	margin: 20px;
}
.pic2 img{
	height: 400px;
	padding-left: 20px
}
.pic3{
	float: left;
	margin: 20px
}
.pic3 img{
	height: 400px
}
